<!-- <div class="notification">
    Successfully Added to Cart
</div>


    <section class="product-images">
        <div class="main-image"></div>
        <div class="thumbnail-images">
            <div class="thumbnail"></div>
            <div class="thumbnail"></div>
        </div>
    </section>
    
    <section class="product-details">
        <div class="product">
            <img src="placeholder.jpg" alt="Product image" class="product-icon">
            <h1>Product</h1>
            <p>Lorem ipsum dolor sit amet nulla adipiscing elit. Nunc maximus, nec ut commodo</p>
            <p class="price">$000.00</p>
            
            <button class="add-to-cart">Add to Cart</button>
        </div>
    </section> -->

    
    <div class="container">
        <div class="image-gallery">
            <img src="image1.jpg" alt="Product Image 1">
            <img src="image2.jpg" alt="Product Image 2">
            <img src="image3.jpg" alt="Product Image 3">
            <img src="image4.jpg" alt="Product Image 4">
            <img src="image5.jpg" alt="Product Image 5">
        </div>
        <div class="main-image">
            <img src="main-image.jpg" alt="Main Product Image">
        </div>
        <div class="product-details">
            <h2>Shoe Name<br>Men/Women Shoe</h2>
            <p class="price">$125</p>
            <div>
                <img src="color1.jpg" alt="Color Option 1" width="50">
                <img src="color2.jpg" alt="Color Option 2" width="50">
            </div>
            <h3>Select Size</h3>
            <div class="size-options">
                <div class="size-option">6</div>
                <div class="size-option">6.5</div>
                <div class="size-option">7</div>
                <div class="size-option">7.5</div>
                <div class="size-option">8</div>
                <div class="size-option">8.5</div>
                <div class="size-option">9</div>
                <div class="size-option">9.5</div>
                <div class="size-option">10</div>
                <div class="size-option">10.5</div>
                <div class="size-option">11</div>
                <div class="size-option">11.5</div>
                <div class="size-option">12</div>
                <div class="size-option">12.5</div>
                <div class="size-option">13</div>
            </div>
        </div>
    </div>
    