
    <!-- <header>
        <div class="logo"></div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="Search">
            </div>
        </nav>
    </header> -->
   
        <section class="admin-management">
            <h1>Admin Management</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc maximus, nulla ut commodo sagittis, sapien dui mattis dui, non pulvinar lorem felis nec erat.</p>
            <div class="cards">
                <div class="card">
                    <div class="card-icon"></div>
                    <h2>Product Database Management</h2>
                    <p>Lorem ipsum dolor sit amet nulla adipiscing elit. Nunc maximus, nec ut commodo</p>
                    <a href="/adminproductdetails">Manage &rarr;</a>
                </div>
                <div class="card">
                    <div class="card-icon"></div>
                    <h2>User Data Management</h2>
                    <p>Lorem ipsum dolor sit amet nulla adipiscing elit. Nunc maximus, nec ut commodo</p>
                    <a href="/adminusermanagement">Manage &rarr;</a>
                </div>
                <div class="card">
                    <div class="card-icon"></div>
                    <h2>Order Management</h2>
                    <p>Lorem ipsum dolor sit amet nulla adipiscing elit. Nunc maximus, nec ut commodo</p>
                    <a href="/adminorder">Manage &rarr;</a>
                </div>
            </div>
        </section>

   



