.checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
}

.left-half {
    width: 60%;
}
.right-half {
    width: 38%;
    padding-left: 2%;

}
.cost-details {
    margin-bottom: 20px;
}

.left-half h3, .right-half h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.checkout-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkout-card h3 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#checkout-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#checkout-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


.cost-details {
    margin-bottom: 20px;
}

.cost-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cost-row.total {
    font-weight: bold;
}